body {
    background-image: url(storm-8244663_640.webp);
    background-size: cover;
}

nav {
    background-color: #000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #d41515;
}